.margin-berita{
	margin-top: 20px;
}

.margin-judul-berita{
  margin-bottom: 20px;
}

.margin-top-row{
	margin-top: 70px;
	padding-bottom: 70px;
}

.col-berita{
	padding-left: 0px;
}

.row-col-layanan{
	height: 80px;
	margin-top: 40px;
}

.layanan-brand{
	height: 20px;
}

.navbar-green {
  background-color: #fff;
  border-color: #fff;
}
.navbar-green .navbar-brand {
  color: #555;
}
.navbar-green .navbar-brand:hover,
.navbar-green .navbar-brand:focus {
  color: #00b268;
  background-color: transparent;
}
.navbar-green .navbar-text {
  color: #555;
}
.navbar-green .navbar-nav > li > a {
  color: #555;
}
.navbar-green .navbar-nav > li > a:hover{
  color: #00b268 !important;
  background-color: transparent !important;
}
.navbar-green .navbar-nav > li > a:focus{
  color: currentColor !important;
}

.navbar-green .navbar-nav > .active > a,
.navbar-green .navbar-nav > .active > a:hover,
.navbar-green .navbar-nav > .active > a:focus {
  color: #00b268;
  background-color: #fff;
}
.navbar-green .navbar-nav > .disabled > a,
.navbar-green .navbar-nav > .disabled > a:hover,
.navbar-green .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-green .navbar-toggle {
  border-color: #fff;
}
.navbar-green .navbar-toggle:hover,
.navbar-green .navbar-toggle:focus {
  background-color: #fff;
}
.navbar-green .navbar-toggle .icon-bar {
  background-color: #555;
}
.navbar-green .navbar-toggle:hover .icon-bar {
  background-color: #00b268;
}

.navbar-green .navbar-collapse,
.navbar-green .navbar-form {
  border-color: #101010;
}
.navbar-green .navbar-nav > .open > a,
.navbar-green .navbar-nav > .open > a:hover,
.navbar-green .navbar-nav > .open > a:focus {
  color: #00b268;
  background-color: transparent;
}
.navbar-green .navbar-nav .dropdown-menu > li>  a{
  color: #555;
}

.navbar-green .navbar-nav .dropdown-menu > li>  a:hover,
.navbar-green .navbar-nav .dropdown-menu > li>  a:focus {
    color: #00b268;
    background-color: transparent;
  }


@media (max-width: 767px) {
  .navbar-green .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #00b268;
  }
  .navbar-green .navbar-nav .open .dropdown-menu .divider {
    background-color: #00b268;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-green .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-green .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-green .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #00b268;
  }
  .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-green .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-green .navbar-link {
  color: #ffffff;
}
.navbar-green .navbar-link:hover {
  color: #fff;
}
.navbar-green .btn-link {
  color: #ffffff;
}
.navbar-green .btn-link:hover,
.navbar-green .btn-link:focus {
  color: #fff;
}
.navbar-green .btn-link[disabled]:hover,
fieldset[disabled] .navbar-green .btn-link:hover,
.navbar-green .btn-link[disabled]:focus,
fieldset[disabled] .navbar-green .btn-link:focus {
  color: #444;
}





.btn-green {
  color: #fff;
  background-color: #00b268;
  border-color: #00b268;
}
.btn-green:focus,
.btn-green.focus {
  color: #fff;
  background-color: #199260;
  border-color: #199260;
}
.btn-green:hover {
  color: #fff;
  background-color: #199260;
  border-color: #199260;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #199260;
  border-color: #199260;
}
.btn-green:active:hover,
.btn-green.active:hover,
.open > .dropdown-toggle.btn-green:hover,
.btn-green:active:focus,
.btn-green.active:focus,
.open > .dropdown-toggle.btn-green:focus,
.btn-green:active.focus,
.btn-green.active.focus,
.open > .dropdown-toggle.btn-green.focus {
  color: #fff;
  background-color: #199260;
  border-color: #199260;
}
.btn-green:active,
.btn-green.active,
.open > .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled.focus,
.btn-green[disabled].focus,
fieldset[disabled] .btn-green.focus {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-green .badge {
  color: #337ab7;
  background-color: #fff;
}


.gradasi{
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .1)), to(rgba(255, 255, 255, .0001)));
  background-image:         linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}


.dropdown:hover .dropdown-menu{
  display: block;
}



.carousel-showmanymoveone .carousel-control {
   width: 4%;
   background-image: none;
}

.carousel-showmanymoveone .carousel-control.left {
   margin-left: 0;
}

.carousel-showmanymoveone .carousel-control.right {
   margin-right: 0;
}

.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
   display: none;
}

.carousel .item .col-xs-12 {
   padding: 0;
}


/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
   .carousel .item .col-xs-12:nth-last-child(-n+2) {
      display: none;
   }
}

@media all and (min-width: 768px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -50%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 50%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-1 {
      display: block;
   }
}

@media all and (min-width: 768px) and (transform-3d),
all and (min-width: 768px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(50%, 0, 0);
      transform: translate3d(50%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

@media all and (min-width: 992px) {
   .carousel-showmanymoveone .carousel-inner > .active.left,
   .carousel-showmanymoveone .carousel-inner > .prev {
      left: -16.6%;
   }
   .carousel-showmanymoveone .carousel-inner > .active.right,
   .carousel-showmanymoveone .carousel-inner > .next {
      left: 16.6%;
   }
   .carousel-showmanymoveone .carousel-inner > .left,
   .carousel-showmanymoveone .carousel-inner > .prev.right,
   .carousel-showmanymoveone .carousel-inner > .active {
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner .cloneditem-2,
   .carousel-showmanymoveone .carousel-inner .cloneditem-3 {
      display: block;
   }
}

@media all and (min-width: 992px) and (transform-3d),
all and (min-width: 992px) and (-webkit-transform-3d) {
   .carousel-showmanymoveone .carousel-inner > .item.active.right,
   .carousel-showmanymoveone .carousel-inner > .item.next {
      -webkit-transform: translate3d(16.6%, 0, 0);
      transform: translate3d(16.6%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.active.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev {
      -webkit-transform: translate3d(-16.6%, 0, 0);
      transform: translate3d(-16.6%, 0, 0);
      left: 0;
   }
   .carousel-showmanymoveone .carousel-inner > .item.left,
   .carousel-showmanymoveone .carousel-inner > .item.prev.right,
   .carousel-showmanymoveone .carousel-inner > .item.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      left: 0;
   }
}

.row-galeri{
  margin-top: 20px;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.eot');
    src: url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora-Regular.woff2') format('woff2'),
        url('../fonts/Lora-Regular.woff') format('woff'),
        url('../fonts/Lora-Regular.ttf') format('truetype'),
        url('../fonts/Lora-Regular.svg#Lora-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Bold.eot');
    src: url('../fonts/Lora-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora-Bold.woff2') format('woff2'),
        url('../fonts/Lora-Bold.woff') format('woff'),
        url('../fonts/Lora-Bold.ttf') format('truetype'),
        url('../fonts/Lora-Bold.svg#Lora-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.lora{
  font-family: lora;
}

.button-link{
  background-color: #00b268; 
  color: #fff; 
  border-radius: 3px;"
  width: 100%;
}
.button-link div{
  height: 60px;
  vertical-align: middle;
  color: #fff;
}

#live-chat-btn{
  display: none;
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #00b268;
  color: white;
  cursor: pointer;
  padding: 5px 30px;
  border-radius: 10px;
}
#live-chat-btn:hover{
  background-color: #555;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBoldItalic.eot');
    src: url('../fonts/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-SemiBoldItalic.ttf') format('truetype'),
        url('../fonts/OpenSans-SemiBoldItalic.svg#OpenSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBoldItalic.eot');
    src: url('../fonts/OpenSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype'),
        url('../fonts/OpenSans-ExtraBoldItalic.svg#OpenSans-ExtraBoldItalic') format('svg');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff2') format('woff2'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype'),
        url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff2') format('woff2'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype'),
        url('../fonts/OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-BoldItalic.eot');
    src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
        url('../fonts/OpenSans-BoldItalic.ttf') format('truetype'),
        url('../fonts/OpenSans-BoldItalic.svg#OpenSans-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-SemiBold.eot');
    src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('../fonts/OpenSans-SemiBold.woff') format('woff'),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype'),
        url('../fonts/OpenSans-SemiBold.svg#OpenSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Italic.woff2') format('woff2'),
        url('../fonts/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans-Italic.ttf') format('truetype'),
        url('../fonts/OpenSans-Italic.svg#OpenSans-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../fonts/OpenSans-Regular.woff') format('woff'),
        url('../fonts/OpenSans-Regular.ttf') format('truetype'),
        url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-ExtraBold.eot');
    src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('../fonts/OpenSans-ExtraBold.woff') format('woff'),
        url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'),
        url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-LightItalic.eot');
    src: url('../fonts/OpenSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-LightItalic.woff2') format('woff2'),
        url('../fonts/OpenSans-LightItalic.woff') format('woff'),
        url('../fonts/OpenSans-LightItalic.ttf') format('truetype'),
        url('../fonts/OpenSans-LightItalic.svg#OpenSans-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

.arrow-corausel{
  border-radius: 30px; 
  position: absolute; 
  height: 50px; 
  width: 50px; 
  background-color: #fff; 
  padding-top: 14px;
  bottom: 45%;
  z-index: 2;
  box-shadow: 0px 0px 4px #000;

}
.arrow-corausel a{
  color: #00b268 !important;
}

.owl-corausel-caption{
  position: absolute;
  z-index: 3;
  bottom: 0px;
  width: 100%;
  height: 20%;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
}

.media-img{
  width:80px; 
  height: 80px; 
  object-fit: cover; 
  border-radius: 3px;
}

.button-radius{
  border-radius: 20px;
}

.Open-sans{
  font-family: Open sans;
}

.img-post{
  width: 100%; 
  height: 250px; 
  object-fit: cover;
}

.deskripsi-post{
  padding-bottom: 20px; 
  padding-left: 30px;
   padding-right: 30px; 
  padding-top: 20px;  
  height: 300px;
}

.breadcrumb{
  background-color: #00b268 !important;
  
}
.breadcrumb li a{
  color: #fff;
}

.breadcrumb > .active {
  color: #ddd;
}

.min-height-body{
  min-height:500px;
  margin-top: 80px; 
}

.img-galeri{
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: inherit;
}

.card-galeri{
  box-shadow: 0px 0px 8px #555;
  border-radius: 5px;
  margin-top: 30px;
  background: #fff;
}

.card-galeri:hover{
}
.card-galeri label{
  padding: 20px;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #00b268;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;
  color: #00b268;
  background-color: #fff;
  border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #00b268;
  border-color: #00b268;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.height-isi-berita{
  height: 340px;
}

.link{
  color: #fff;
}
.link:hover{
  color: #fff;
}